﻿.pagination > li > a.fa-lg {
    padding: 3px 12px;
}

.pagination .block-input {
    padding: 3px 6px 3px 3px;
}

	.pagination .block-input input {
	    width: 57px;
	    border: 1px solid #D9D9D9;
	    padding: 2px;
	    text-align: center;
	}

.pagination li,
.pagination li a {
	cursor: pointer;
}

.block-input {
	display: none;
}

.show-field-numeric .block-input {
	display: block;
}