﻿<h1>Funcef - Pagination</h1>

<ngf-summary filtro="vm.filtro" model-page="vm.filtro.pagination.number"></ngf-summary>

<div st-pipe="vm.pesquisaServidor" st-table="vm.lista">
    <table class="table table-responsive">
    	<thead>
    		<tr>
    			<th>Coluna 1</th>
    			<th>Coluna 2</th>
    			<th>Coluna 3</th>
    		</tr>	
    	</thead>
    	
    	<tbody>
    		<tr ng-repeat="item in vm.lista">
    			<td>Example {{item.id}}</td>
    			<td>Example {{item.id}}</td>
    			<td>Example {{item.id}}</td>
    		</tr>
    	</tbody>
    	
    	<tfoot>
            <tr>
                <td colspan="3">
                    <ngf-pagination filtro="vm.filtro"></ngf-pagination>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <ngf-pagination filtro="vm.filtro" campo="true"></ngf-pagination>
                </td>
            </tr>
    	</tfoot>
    </table>
</div>